body{background: #ffffea;
     overflow: hidden;}
div {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #c2c2d6;
}
.stickytitle {
    font-size: 15px;
 }
 #versionhistory{
     font-size: 7px;
     position: relative;
     top: 0%;
     left: 89%;   
}